* {
    margin: 0;
    padding: 0;
}
header {
    background-color: blueviolet;
    padding: 10px;
}
h1 {
    content: center;
}
nav {
    align-self: end;
}
img {
    width: 250px;
    height: 120px;
    border-radius: 10px;
    box-shadow: none;
}