* {
    background-color: antiquewhite;
}
header {
    background-color: blueviolet;
    content: 100%;
}
h1 {
    background-color: blueviolet;
    content: center;
}
img {
    width: 250px;
    height: 120px;
    border-radius: 10px;
    box-shadow: none;
}